<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!--  <session-factory>-->
<!--    <property name="connection.url">-->
<!--        <![CDATA[jdbc:mysql://127.0.0.1:3306/demo?useSSL=false&useUnicode=true&characterEncoding=utf-8&allowPublicKeyRetrieval=true&serverTimezone=UTC]]></property>-->
<!--    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
<!--      <mapping class="org.bowen.model.UserEntity"/>-->
<!--      &lt;!&ndash; <property name="connection.username"/> &ndash;&gt;-->
<!--    &lt;!&ndash; <property name="connection.password"/> &ndash;&gt;-->

<!--    &lt;!&ndash; DB schema will be updated if needed &ndash;&gt;-->
<!--    &lt;!&ndash; <property name="hibernate.hbm2ddl.auto">update</property> &ndash;&gt;-->
<!--  </session-factory>-->

  <session-factory>

    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://127.0.0.1:3306/demo?serverTimezone=GMT%2B8</property>
<!--    jdbc:mysql://127.0.0.1:3306/demo?useSSL=false&useUnicode=true&characterEncoding=utf-8&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8-->
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>


    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Drop and re-create the database schema on startup -->
    <!--        <property name="hbm2ddl.auto">update</property>-->

    <mapping resource="UserEntity.hbm.xml"/>

  </session-factory>

</hibernate-configuration>
